html {
    background-image: url('/images/space.jpg');
    background-size: 150%;
    background-position: top;
}

body {
    
}

.mainBody {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 800px;
    padding: 2em 2em 4em;
    box-shadow: 6px 6px 16px #777;
    border-radius: 8px;
    transition: 0.6s ease;
    
}

body a {
    color: #139;
    text-decoration: none;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1em;
}

b, strong {
    font-weight: 600;
}


.button {
    display: block;
    width: 8em;
    background-color: #aaddff;
    font-family: Verdana, sans-serif;
    text-align: center;
    font-size: 1.5em;
    color: aliceblue;
    padding: .25em;
    border-radius: .4em;
    margin: auto;
    box-shadow: 2px 2px 2px #777;
    text-shadow: 1px 1px 2px #aaa;
    
}

.next {
    cursor: pointer;
    position: absolute;
    top: 100px;
    right: -80px;
    transition: 0.6s ease;
}
.prev {
    cursor: pointer;
    position: absolute;
    top: 100px;
    left: -80px;
    transform: scaleX(-1);
    transition: 0.6s ease;
}
#mainHeading {
    display: flex-inline;
}

#footer {
    color: #000;
    margin-top: 40px;
    text-align: right;
}

.headshot {
    display: flex;
    float:left;
    width:160px;
    height:160px;
}

.headshot img {
    margin-right: 12px;
    min-width: 10%;
    max-height: 10%;
    max-width:100%;
    max-height:100%;
    border-style: solid;
    border-color: #607CA4;
    border-width: 2px;
    border-radius: 3px;
}

.nav {
    background-color:#607CA4;
    color: #aaa;
    padding: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: #406C94;
}
.nav a{
    color:#fff;
    font-weight:600;
    text-decoration-line: none;
    margin: auto;
}

.navMobile {
    display: none;
    color: #fff;
    border-style: solid;
    border-width: 4px;
}
.navMobile a{
    color:#fff;
    font-weight:600;
    text-decoration-line: none;
}

.navMobile table td, table th table tr {
    border: 1px solid #ddd;
    background-color: #4ec0ff;
    text-align: center;
    padding: .4em 4em;
    box-shadow: 2px 2px 8px #bbb;
}

.introText {
}

.promoBox {
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color:#efefef;
    color: #fff;    
    max-width: 800px;
    margin-top:12px;
    margin-bottom:12px;
    min-width: 0px;
    min-height: 0px;
}

@media only screen and (max-width: 1660px) {
    
     /* move sidebar and body if screen too narrow: */
    
    .sideBar {
        display: none;
    }
}


@media only screen and (max-width: 500px) {
    
     /* For mobile phones: */
    .promoBox{
        flex-direction: column;
        font-size: .75em;
        line-height: 2em;
        
    }
    img {
        
    }
    
    
    #navMobileExpander {
        float: left;
        margin: 8px;
    }
    blockquote {
        margin: 1em;
    }
    
    .headshot {
        float:left;
    }

    .nav {
        display: none;
    }
}

@media only screen and (min-width: 501px) {
    
    /* for desktop */
    
    #navMobileExpander {
        display: none;
    }
    
    .navMobile {
        display: none;
    } 
    
}

.promoBox img {
    flex:auto;
    border-radius: 2px;
    width: 20%;
    height: 20%;
    box-shadow: 2px 2px 18px #888;
    margin: 12px;
}
.promoBox iframe {
    display:block;
    width: 95%;
    box-shadow: 2px 2px 18px #888;
    margin: auto;
}

.promoBox h2 {
    flex:auto;
    margin: 12px;
}

.promoBox p {
    flex:auto;
    color: #333;
    margin: 16px;
}

.promoBox a {
    color: #139;
    text-decoration: none;
    font-weight: bold;
}


.promoBox blockquote {
    font-style: italic;
    flex:auto;
    background-color: #dfdfdf;
    border-radius: 4px;
    padding: 8px 2px 8px 12px;
    color: #222;
}

.newsItem {
    background-color:#efefef;
    color: #333;    
    border-radius: 3px;
    padding: 4px;
}

.newsItem h2 {
    flex:auto;
    line-height: 1em;
    font-weight: 400;
    color: #444;
    margin: 12px;
    font-size: 1.6em;
}

.newsItem p {
    flex:auto;
    color: #333;
    margin: 16px;
}

.newsItem a {
    color: #139;
    text-decoration: none;
    font-weight: bold;
}


.newsItem blockquote {
    font-style: italic;
    flex:auto;
    background-color: #dfdfdf;
    border-radius: 4px;
    padding: 8px 2px 8px 12px;
    color: #222;
}

.sideBar {
    position: fixed;
    top: 10px;
    right: 20px;
    padding: 10px;
}

