@font-face {
    font-family: 'sm';
    src: url('./boys/font_sm.ttf');
}

.scale2 {
	width: 512px;
}

canvas, img {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
}

body {
	background-color: #e2e2e2;
}

.jumbotron {
	border-bottom: 2px inset #dbdbdb;
}

.game {
	width: 512px;
	margin: auto;
	margin-top: 4%;
}

canvas {
	border-radius: 8px;
	border: 5px inset rgb(255, 255, 255);
}

.jumbotron {
	padding-bottom: .5em;
}

.mls5 {
	width: 768px;
	margin: auto;
	margin-top: 4%;
}