body {
	font-family: Montserrat, sans-serif;
	background-color: #e0eff5;
}

.breadcrumb {
	color: #333;
    margin-bottom: 20px;
    font-size: .9em;
}

.box {
	margin: auto;
	width: 90%;
	background-color: rgba(0, 110, 157, 0.2);
	padding: 1em;
	color: #333;
	border-radius: 2px;
	text-align: center;
    transition: 0.2s ease;
}

.comicFrame {
	width: 80%;
	background-color: #fff;
	border-radius: 2px;
	text-align: center;
	margin: 1em auto;
    padding: 8px;
	
	color: #000;
}

.comicFrame img {
    width: 100%;
}

.button {
	background-color: #ffffff;
	color: #000000;
	font-weight: 600;
	text-align: center;
	font-size: 1.2em;
	width: 60%;
	margin: auto;
	padding: 2%;
	border-radius: 4px;
	cursor: pointer;
}

.buttonSmall {
	background-color: #ffffff;
	color: #000000;
	font-weight: 600;
	text-align: center;
	font-size: .8em;
	width: 40%;
	margin: auto;
    margin-bottom: 8px;
	padding: 1%;
	border-radius: 4px;
	cursor: pointer;
}

.footer {
	position: absolute;
	right: 12px;
	bottom: 12px;
}


/* MEDIA QUERIES */

/*For mobile*/

@media only screen and (max-width: 1024px) {
	
    .box {
        width: 80%;
    }

}