body {
	font-family: Montserrat, sans-serif;
	background-color: #eaf9ff;
    background-image: url("../img/london.jpg");
    background-position: top;
    background-size: cover;
}

.breadcrumb a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

.card {
    width: 50%;
    background-color: #ffffff;
    margin: 8% auto;
    padding: .5em 2em;
    transition: .3s ease;
}

.card h1 {
    font-size: 2.5em;
    font-weight: 1200;
}

.card h2 {
    font-size: 1.5em;
    font-weight: 800;
    width: 60%;
    line-height: 1.5em;
}

.imageStrip {
    display: flex;
    flex-flow: wrap;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.imageStrip img {
    margin: 4px;
    width: 40%;
    height: 40%;
    border-radius: 2px;
    transition: .2s ease;
}

.imageStrip img:hover {
    width: 45%;
}

.contactDetails {
    font-weight: 800;
    color: white;
    background-color: #5a5a5a;
    width: 100%;
    margin: -10px;
    position: fixed;
    bottom: -100px;
    transition: ease .2s;
    padding-bottom: 0px;
}
.contactDetails a {
    color: white;
    text-decoration: none;
    font-weight: 800;
}
.contactDetails img {
    height: 32px;
    vertical-align: middle;
    margin: 0px 12px 0px 0px;
}
.contactDetails h1 {
    line-height: .3em;
}

.contactDetails:hover {
    bottom: 10px;
}

.slant{
    top:0;
    z-index:1;
    position:absolute;
    border-style:solid;
    border-width:400px 0 0 100px;
    border-color:rgba(223, 50, 50, 0) transparent transparent #06A763;
}


/* MEDIA QUERIES */

/*For mobile*/

@media only screen and (max-width: 1024px) {
	
    .card {
        width: 80%;
    }
    
    .card h2 {
        font-size: 1.2em;
        width: 80%;
    }

}