body {
	font-family: Montserrat, sans-serif;
	background-color: #eaf9ff;
    background-image: url("../img/london.jpg");
    background-position: top;
    background-size: cover;
}

.breadcrumb a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

.card {
    width: 50%;
    background-color: #ffffff;
    margin: 2% auto;
    padding: .5em 2em;
    transition: .3s ease;
}

.card h1 {
    font-size: 2.5em;
    font-weight: 1200;
}

.card h2 {
    font-size: 1.5em;
    font-weight: 800;
    width: 60%;
    line-height: 1.5em;
}

.card h3 {
    text-align: center;
}

.imageWrapper {
    display: flex;
    flex-flow: wrap;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.promoImage {
    width: 40%;
    height: 40%;
    transition: .2s ease;
    margin: 12px;
}

.promoImage img {
    margin: 12px;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    transition: .2s ease;
    border: 1px solid #ccc;
}

.promoImage:hover img{
    width: 105%;
}

.promoImage .promoLabel {
    opacity: 0;
    text-align: center;
    transition: ease .2s;
    font-weight: 800;
    color: grey;
}

.promoImage:hover .promoLabel {
    opacity: 1;
}

.contactDetails {
    font-weight: 800;
    color: white;
    background-color: #5a5a5a;
    width: 100%;
    margin: -10px;
    position: fixed;
    bottom: -100px;
    transition: ease .2s;
    padding-left: 1em;
    padding-bottom: 1em;
}
.contactDetails a {
    color: white;
    text-decoration: none;
    font-weight: 800;
}
.contactDetails img {
    height: 32px;
    vertical-align: middle;
    margin: 0px 12px 0px 0px;
}
.contactDetails h1 {
    line-height: .3em;
}

.contactDetails:hover {
    bottom: 10px;
}

.gitHub {
    color: white;
    background-color: #5a5a5a;
    height: 100%;
    width: 300px;
    margin: -10px;
    position: fixed;
    right: -180px;
    top: 0px;
    transition: ease .2s;
    padding-left: 1em;
    padding-right: 1em;
}
.gitHub a {
    color: white;
    font-weight: 800;
    text-decoration: none;
    color: #eee;
}
.gitHub img {
    height: 32px;
    vertical-align: middle;
    margin: 0px 12px 0px 0px;
}
.gitHub h1 {
    font-size: 1.4em;
    line-height: .1em;
}
.gitHub p {
    font-size: 1em;
    font-weight: 200;
    color: #ddd;
}
.gitHub:hover {
    right: 0px;
}
.gitHub .repo {
    transition: .2s ease;
    border: 2px solid #888;
    border-radius: 2px;
    margin-top: 14px;
    margin-bottom: 14px;
    padding: 6px;
}

.gitHub .repo:hover {
    border: 2px dashed #888;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 6px;
    background-color: #298495;
}





/* MEDIA QUERIES */

/*For mobile*/

@media only screen and (max-width: 1024px) {
	
    .card {
        width: 80%;
    }
    
    .card h2 {
        font-size: 1.2em;
        width: 80%;
    }

}