body {
	background-color: #333;
	margin: auto;
}

h1 {
	font-family: monospace;
	text-align: center;
	color: #fff;
	font-weight: 800;
	font-size: 3em;
}

.gameWrapper {
	padding: 40px;
	border-radius: 4px;
	background-color: #333;
	margin: 5% auto;
	width: 768px;
	height: 384px;
}