body {
	font-family: Montserrat, sans-serif;
	background-color: #000;
}

.breadcrumb {
	color: #ccc;
    margin-bottom: 20px;
    font-size: .9em;
}

.breadcrumb a {
	color: #fff;
}

h1 {
    color: #aaa;
    text-align: center;
}

h2 {
    color: #aaa;
    text-align: center;
    font-size: .8em;
}


h2 a {
    color: #fff;
}

.box {
	margin: auto;
	padding: 1em;
    font-size: 2em;
    line-height: 2.2em;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 2px;
	text-align: center;
    transition: 0.2s ease;
}

#victimName {
    font-size: 1.3em;
    opacity: 0;
}

#victimAge {
    font-size: 1em;
    opacity: 0;
}

#victimCause {
    font-size: 1.2em;
    opacity: 0;
}

#victimDate {
    font-size: .7em;
    opacity: 0;
}

.footer {
	position: absolute;
	right: 12px;
	bottom: 12px;
}


/* MEDIA QUERIES */

/*For mobile*/

@media only screen and (max-width: 1024px) {
	
    .box {
        width: 80%;
    }

}